.css-left .metismenu .arrow {
    float: right !important;
    margin-top: -33px !important;
    margin-right: 6px !important;
}
.section-home-intro h2{
    font-size: 35px !important;
}
.css-h2-banner {
    font-size: 35px !important;
}
.block-title h2 {
    font-size: 40px !important;
}